<nav class="fixed bg-white shadow-lg rounded-b-2xl flex flex-row z-50 border-b w-full justify-between px-10 py-2">
    <a href="/" id="homeLink" class="hover:bg-gray-200 transition-all duration-150 py-1 px-2 rounded-md">
        Home
    </a>
    <a href="/volunteerRequest" id="volunteerLink"
        class="hover:bg-gray-200 transition-all duration-150 py-1 px-2 rounded-md">
        Become a Volunteer
    </a>
    <a href="/hostAnEvent" id="eventLink" class="hover:bg-gray-200 transition-all duration-150 py-1 px-2 rounded-md">
        Host an Event
    </a>
    <!-- TODO Eventually the next two need to be behind a password -->
    <a href="/events" id="contactLink" class="hover:bg-gray-200 transition-all duration-150 py-1 px-2 rounded-md">
        Events
    </a>
    <a href="/volunteers" id="contactLink" class="hover:bg-gray-200 transition-all duration-150 py-1 px-2 rounded-md">
        Volunteers
    </a>
    <a href="/contact" id="contactLink" class="hover:bg-gray-200 transition-all duration-150 py-1 px-2 rounded-md">
        Contact
    </a>
    <a href="/login" id="contactLink" class="hover:bg-gray-200 transition-all duration-150 py-1 px-2 rounded-md">
        Login
    </a>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentPath = window.location.pathname;
        const links = {
            '/': 'homeLink',
            '/volunteerRequest': 'volunteerLink',
            '/hostAnEvent': 'eventLink',
            '/contact': 'contactLink'
        };
        if (links[currentPath]) {
            document.getElementById(links[currentPath]).classList.add('bg-gray-200');
        }
    });
</script>