<script>
    let burgerView = false;
    let txtColor = 'text-black';
    let titleColor = 'rgb(13 148 136 / 80%)';

    if (window.location.pathname === '/') {
        txtColor = 'text-white';
        titleColor = '#40d6ca';
    }

    document.addEventListener('DOMContentLoaded', () => {
        const homeLinks = document.getElementsByClassName('navButton');
        if (homeLinks.length > 0) {
            for (let i = 0; i < homeLinks.length; i++) {
                homeLinks[i].classList.add(txtColor);
            }
        }

        const navTitle = document.getElementById('navTitle');
        if (navTitle) {
            navTitle.style.color = titleColor;
        }
    });

    function makeLinksBurger() {
        const linkDiv = document.getElementById('linksDiv');
        if (window.innerWidth < 768) {
            linkDiv.classList.add('hidden');
            document.getElementById('burgerMenuDiv').classList.remove('hidden');
            burgerView = true;
        } else {
            linkDiv.classList.remove('hidden');
            document.getElementById('burgerMenuDiv').classList.add('hidden');
            burgerView = false;
        }
    }

    function closeMenuOnClickOutside(event) {
        if (burgerView) {
            const linkDiv = document.getElementById('linksDiv');
            const burgerMenuDiv = document.getElementById('burgerMenuDiv');
            if (!burgerMenuDiv.contains(event.target) && !linkDiv.contains(event.target)) {
                linkDiv.classList.add('hidden');
                document.getElementById('burgerDrop').classList.add('hidden');
            }
        }
    }

    window.addEventListener('click', closeMenuOnClickOutside);

    function toggleBurger() {
        const title = document.getElementById('navTitle');
        const linkDiv = document.getElementById('linksDiv');
        if (title.classList.contains('hidden')) {
            title.classList.remove('hidden');
            linkDiv.classList.add('hidden');
        } else {
            linkDiv.classList.remove('hidden');
            title.classList.add('hidden');
        }
    }

    function handleBurgerClick() {
        const dropdown = document.getElementById('burgerDrop');
        if (dropdown.classList.contains('hidden')) {
            dropdown.classList.remove('hidden');
        } else {
            dropdown.classList.add('hidden');
        }
    }

    function handleAdminHover(event) {
        const dropdown = document.getElementById('dropdownDiv');
        dropdown.classList.remove('hidden');
    }

    function handleAdminLeave(event) {
        const dropdown = document.getElementById('dropdownDiv');
        dropdown.classList.add('hidden');
    }

    window.addEventListener('resize', () => {
        makeLinksBurger();
    });

    window.addEventListener('load', () => {
        makeLinksBurger();
    });

    fetch('/session-data')
        .then(response => response.json())
        .then(data => {
            const session = data;
            if (session.user.jobrole === "Volunteer") {
                const adminLink = document.getElementById('adminLink');
                const dropdownDiv = document.getElementById('dropdownDiv');
                if (adminLink) adminLink.style.display = 'none';
                if (dropdownDiv) dropdownDiv.style.display = 'none';
            }
        })
        .catch(error => console.error('Error fetching session data:', error));

    document.getElementById('logoutForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const form = event.target;
        const currentPath = window.location.pathname;
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'originalUrl';
        input.value = currentPath;
        form.appendChild(input);
        form.submit();
    });
</script>


<nav id="navBar"
    class="absolute top-0 left-0 right-0 rounded-b-2xl flex flex-wrap z-50 justify-between items-center px-4 py-2 bg-none">
    <h2 id="navTitle" class="font-bold flex-shrink-0 max-w-full md:text-3xl">
        Turtle Shelter Project
    </h2>
    <div id="linksDiv" class="flex flex-wrap z-20 justify-between items-center px-4 py-2 bg-none">
        <a href="/" id="homeLink"
            class="navButton hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md cursor-pointer text-lg">
            Home
        </a>
        <a href="/volunteerRequest" id="volLink"
            class="navButton hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md cursor-pointer text-lg">
            Volunteer
        </a>
        <a href="/hostAnEvent" id="hostLink"
            class="navButton hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md cursor-pointer text-lg">
            Host
        </a>

        <% if (authenticated) { %>
            <div class="relative z-20">
                <div onmouseover="handleAdminHover()" onmouseleave="handleAdminLeave()" id="adminLink"
                    class="navButton hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md cursor-pointer text-lg">
                    Admin
                </div>
                <div id="dropdownDiv" onmouseover="handleAdminHover()" onmouseleave="handleAdminLeave()"
                    class="absolute hidden bg-white shadow-lg rounded-md z-20 border">
                    <a href="/stats" id="statsLink"
                        class="block hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md z-20">
                        Stats
                    </a>
                    <a href="/events" id="eventsLink"
                        class="block hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md ">
                        Events
                    </a>
                    <a href="/volunteers" id="volunteersLink"
                        class="block hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md">
                        Volunteers
                    </a>
                </div>
            </div>
            <% } %>
                <% if (authenticated) { %>
                    <a href="/logout" id="logoutLink"
                        class="navButton hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md cursor-pointer text-lg">
                        Logout
                    </a>
                    <% } else { %>
                        <a href="/login" id="loginLink"
                            class="navButton hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md cursor-pointer text-lg">
                            Login
                        </a>
                        <% } %>
    </div>
    <div id="burgerMenuDiv" class="ml-auto flex items-center justify-end hidden z-50">
        <svg xmlns="http://www.w3.org/2000/svg" onclick="handleBurgerClick()" id="burgerMenu"
            class="ionicon w-12 h-12 cursor-pointer transform transition-transform duration-150 hover:scale-110"
            viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="48"
                d="M88 152h336M88 256h336M88 360h336" />
        </svg>
    </div>
    <div id="burgerDrop"
        class="absolute right-0 top-0 w-auto bg-white border hidden shadow-lg rounded-l-lg z-40 transition-all delay-150 flex flex-col space-y-2 py-4">
        <br><br>
        <a href="/" id="homeLink" class="navButtonB py-2 px-4 rounded-md cursor-pointer text-lg text-black text-center">
            Home
        </a>
        <a href="/volunteerRequest" id="volLink"
            class="navButtonB py-2 px-4 rounded-md cursor-pointer text-lg text-black text-center">
            Volunteer
        </a>
        <a href="/hostAnEvent" id="hostLink"
            class="navButtonB py-1 px-2 rounded-md cursor-pointer text-lg text-black text-center">
            Host
        </a>
        <% if (authenticated) { %>
            <a href="/stats" id="statsLink"
                class="navButtonB py-2 px-4 rounded-md cursor-pointer text-lg text-black text-center">
                Stats
            </a>
            <a href="/events" id="eventsLink"
                class="navButtonB py-2 px-4 rounded-md cursor-pointer text-lg text-black text-center">
                Events
            </a>
            <a href="/volunteers" id="volunteersLink"
                class="block hover:bg-gray-400 transition-all duration-150 py-1 px-2 rounded-md">
                Volunteers
            </a>
            <% } if (authenticated) { %>
                <a href="/logout" id="logoutLink"
                    class="navButtonB py-2 px-4 rounded-md cursor-pointer text-lg text-black text-center">
                    Logout
                </a>
                <% } else { %>
                    <a href="/login" id="loginLink"
                        class="navButtonB py-2 px-4 rounded-md cursor-pointer text-lg text-black text-center">
                        Login
                    </a>
                    <% } %>
    </div>
</nav>