<!-- The layout.ejs file is the container for all the views. 
 This will ensure styling is consistent across all pages. 
 It includes the common elements like the navbar and footer,
 and dynamically injects the page-specific content. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <%- include('./components/navbar', { authenticated: authenticated }) %>

        <div class="mb-10 z-0">
            <%- include("pages/" + page) %>
                <!-- Dynamically include the page -->
        </div>

        <footer>
            <p>&copy; 2024 Turtle Shelter Project</p>
        </footer>
</body>

</html>