<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter</title>
    <!-- 
        Company Colors:
        Main: #35B3A8 
        Main Dark: #3D9991
        Lighter Gray: #333
        Darker Gray: #1F1F1F
    -->

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9fafc;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .container {
            width: 100%;
            margin: 0 auto;
        }
        
        .homeBtnDiv {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        header {
            background: lightgray;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-align: center;
            position: relative;
            z-index: 0;
        }

        header::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
            pointer-events: none;
        }

        header h1 {
            font-size: 2.5rem;
            margin: 0;
            z-index: 2;
            position: relative;
        }

        header p {
            font-size: 1.2rem;
            z-index: 2;
            position: relative;
        }

        header .btn {
            margin: 20px;
            position: relative;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.35rem;
            color: #fff;
            background: #35B3A8;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            transition: background 0.3s ease;
        }

        .btn:hover {
            background: #3D9991;
        }

        .text-center {
            text-align: center;
        }

        .headerImg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            pointer-events: none;
        }
        .containerHead {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @media (max-width: 1000px) {
            header {
                height: 300px;
            }

            header h1 {
                font-size: 2rem;
            }

            header p {
                font-size: 1rem;
            }

            .btn {
                padding: 8px 16px;
                font-size: 1.1rem;
            }

            .container {
                padding: 0 10px;
            }

            .containerHead {
                flex-direction: column;
                align-items: flex-start;
            }

            .containerHead img {
                width: 100%;
                margin-top: 10px;
            }

            .homeBtnDiv {
                flex-direction: column;
            }

            .homeBtnDiv .btn {
                margin: 10px 0;
            }
        }
    </style>
    <script>
        // stack the host and volunteer div instead of side by side
        function removeFlex () {
            if (window.innerWidth < 1000) {
                document.getElementById("volunteerHostDiv").classList.remove("flex", "flex-row");
                document.getElementById("vestStatsDiv").classList.add("flex-col")
                document.getElementById("hostDiv").classList.add("mt-2")
                document.getElementById("youHave..").classList.remove("mb-6");
            }else{
                document.getElementById("volunteerHostDiv").classList.add("flex", "flex-row");
                document.getElementById("vestStatsDiv").classList.remove("flex-col")
                document.getElementById("hostDiv").classList.remove("mt-2")
                document.getElementById("youHave..").classList.add("mb-6");
            }
        }
        window.addEventListener('resize', () => {
            removeFlex();
        });

        window.addEventListener('load', () => {
            removeFlex();
        });
    </script>
    <script>
        function toggleStats() {
            const firstChild = event.currentTarget.children[0];
            const secondChild = event.currentTarget.children[1];
            if (firstChild.classList.contains('hidden')) {
                firstChild.classList.remove('hidden');
                secondChild.classList.add('hidden');
            } else {
                firstChild.classList.add('hidden');
                secondChild.classList.remove('hidden');
            }
        }
    </script>
</head>

<body class="m-0 p-0">
    <header class="z-0" style="position: relative; overflow: hidden;">
        <!-- Content -->
        <p id="homeMessage" class="z-10 p-4">Help us to save lives with our innovative Turtle Vest</p>
        <h1 class="font-bold z-10">SAVE A LIFE</h1>
        <div id="homeBtnDiv" class="z-50">
            <a href="#learn-more" class="btn">Learn More</a>
            <a href="#donate" class="btn">Donate</a>
        </div>
    
        <!-- Responsive SVG -->
        <svg 
            class="z-10" 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 1442 319" 
            style="position: absolute; bottom: 0; left: 0; width: 100%; height: auto;">
            <path 
                fill=#f9f9f9
                fill-opacity="1" 
                d="M0,192L60,202.7C120,213,240,235,360,240C480,245,600,235,720,218.7C840,203,960,181,1080,176C1200,171,1320,181,1380,186.7L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </header>
    

    <div class="container flex flex-col gap-6" style="width:100%;">
        <div id="infoDiv" style="width:100%;">
            <div class="bg-gray-200 p-6 rounded-lg shadow-md flex flex-col gap-4" style="border: 1px solid teal;">
                <p class="text-lg text-gray-700 mb-3">
                    <strong class="text-black text-xl">Turtle Vest: </strong>A portable, high-tech solution designed to provide warmth and protection, just like a turtle’s shell. Simple, effective, and life-saving.
                </p>
            </div>
            <div id="vestStatsDiv" class="bg-white shadow-md mt-4 p-6 rounded-lg">
                <div id="coldTempDiv" onclick="toggleStats()" class="hover:bg-gray-100 cursor-pointer transition-all duration-150 bg-white shadow-md flex p-6 rounded-lg items-center mb-2">
                    <span>Prevents hypothermia in temperatures to <strong>-10°F</strong></span>
                    <span class="mb-2 hidden">Each year, 700 people at-risk or experiencing homelessness are killed from hypothermia in the United States</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon h-8 w-8"  style="margin-left: auto;"  fill="#00BFFF" viewBox="0 0 512 512"><path d="M461 349l-34-19.64a89.53 89.53 0 0120.94-16 22 22 0 00-21.28-38.51 133.62 133.62 0 00-38.55 32.1L300 256l88.09-50.86a133.46 133.46 0 0038.55 32.1 22 22 0 1021.28-38.51 89.74 89.74 0 01-20.94-16l34-19.64A22 22 0 10439 125l-34 19.63a89.74 89.74 0 01-3.42-26.15A22 22 0 00380 96h-.41a22 22 0 00-22 21.59 133.61 133.61 0 008.5 49.41L278 217.89V116.18a133.5 133.5 0 0047.07-17.33 22 22 0 00-22.71-37.69A89.56 89.56 0 01278 71.27V38a22 22 0 00-44 0v33.27a89.56 89.56 0 01-24.36-10.11 22 22 0 10-22.71 37.69A133.5 133.5 0 00234 116.18v101.71L145.91 167a133.61 133.61 0 008.52-49.43 22 22 0 00-22-21.59H132a22 22 0 00-21.59 22.41 89.74 89.74 0 01-3.41 26.19L73 125a22 22 0 10-22 38.1l34 19.64a89.74 89.74 0 01-20.94 16 22 22 0 1021.28 38.51 133.62 133.62 0 0038.55-32.1L212 256l-88.09 50.86a133.62 133.62 0 00-38.55-32.1 22 22 0 10-21.28 38.51 89.74 89.74 0 0120.94 16L51 349a22 22 0 1022 38.1l34-19.63a89.74 89.74 0 013.42 26.15A22 22 0 00132 416h.41a22 22 0 0022-21.59 133.61 133.61 0 00-8.5-49.41L234 294.11v101.71a133.5 133.5 0 00-47.07 17.33 22 22 0 1022.71 37.69A89.56 89.56 0 01234 440.73V474a22 22 0 0044 0v-33.27a89.56 89.56 0 0124.36 10.11 22 22 0 0022.71-37.69A133.5 133.5 0 00278 395.82V294.11L366.09 345a133.61 133.61 0 00-8.52 49.43 22 22 0 0022 21.59h.43a22 22 0 0021.59-22.41 89.74 89.74 0 013.41-26.19l34 19.63A22 22 0 10461 349z"/></svg>
                </div>
                <div id="warmWhenWet" onclick="toggleStats()"  class="hover:bg-gray-100 cursor-pointer transition-all duration-150 bg-white p-6 rounded-lg shadow-md flex items-center flex-row mb-2 gap-2 flex-1" style="height: 100%;">
                    <span class="mb-2">Maintains body temperature even when wet</span>
                    <span class="mb-2 hidden">Water conducts heat away from the body rapidly and drops overall body temperature</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon w-8 h-8" fill="#00BFFF" style="margin-left: auto;" viewBox="0 0 512 512"><path d="M265.12 60.12a12 12 0 00-18.23 0C215.23 97.15 112 225.17 112 320c0 88.37 55.64 144 144 144s144-55.63 144-144c0-94.83-103.23-222.85-134.88-259.88zM272 412a12 12 0 01-11.34-16 11.89 11.89 0 0111.41-8A60.06 60.06 0 00332 328.07a11.89 11.89 0 018-11.41A12 12 0 01356 328a84.09 84.09 0 01-84 84z"/></svg>
                </div>
                <div id="warmInWind" onclick="toggleStats()" class="hover:bg-gray-100 transition-all duration-150 cursor-pointer bg-white p-6 rounded-lg shadow-md flex items-center flex-row mb-2 gap-2 flex-1" style="height: 100%;">
                    <span class="mb-2">Protects from windchill</span>
                    <span class="mb-2 hidden">Windchill exposure increases risk of conditions like hypothermia and frostbite</span>
                    <svg fill="#00BFFF" width="800px" class="w-7 h-7" style="margin-left: auto;" height="800px" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M 48.9179 13.7969 C 49.3398 13.7969 49.6446 13.3984 49.6211 12.9531 L 49.4804 10.7266 L 51.3318 11.9922 C 51.6601 12.2266 52.1992 12.1328 52.4334 11.7813 C 52.6446 11.4062 52.5275 10.8906 52.0585 10.6797 L 50.0430 9.6953 L 52.0820 8.6875 C 52.5040 8.4766 52.6211 7.9609 52.4334 7.6094 C 52.2462 7.2344 51.6601 7.1641 51.3318 7.3984 L 49.4804 8.6875 L 49.6446 6.4141 C 49.6912 5.9687 49.3398 5.5938 48.9179 5.5938 C 48.4259 5.5938 48.1446 5.9687 48.1681 6.4141 L 48.3088 8.6875 L 46.4099 7.3984 C 46.0820 7.1641 45.5896 7.1875 45.3554 7.6094 C 45.1445 7.9609 45.2382 8.4531 45.6836 8.6875 L 47.6992 9.6953 L 45.6836 10.6797 C 45.2382 10.8672 45.1210 11.3828 45.3320 11.7813 C 45.5430 12.1562 46.0820 12.2266 46.4099 11.9922 L 48.3088 10.7266 L 48.1912 12.9531 C 48.1681 13.3984 48.4259 13.7969 48.9179 13.7969 Z M 5.6523 22.9141 C 9.0273 21.8360 12.5195 21.2969 15.8476 21.2969 C 20.1601 21.2969 23.3242 21.9766 27.4023 21.9766 C 31.6210 21.9766 34.2460 19.1172 34.2460 15.3906 C 34.2460 11.5703 31.3164 8.8516 27.7070 8.8516 C 25.0351 8.8516 22.6913 10.5156 21.7070 12.7422 C 21.3320 13.5156 21.4726 14.4297 22.2929 14.8516 C 23.0429 15.2266 23.9570 14.9922 24.4492 14.0313 C 24.9648 12.8360 26.2304 11.8984 27.7070 11.8984 C 29.6523 11.8984 31.1757 13.2578 31.1757 15.3906 C 31.1757 17.5234 29.6992 18.9297 27.4023 18.9297 C 23.5117 18.9297 20.3007 18.2266 15.8476 18.2266 C 12.0273 18.2266 8.1601 18.9062 4.7148 20.0078 C 3.7304 20.2891 3.3554 21.1328 3.5898 21.9531 C 3.8242 22.7500 4.5976 23.2187 5.6523 22.9141 Z M 42.3085 33.8828 C 47.7697 33.8828 51.6366 30.4141 51.6366 25.5625 C 51.6366 20.7813 47.9569 17.3125 43.3866 17.3125 C 39.1445 17.3125 36.0039 20.2656 35.4413 24.1562 C 35.3007 25.1172 35.8398 25.8906 36.6835 26.0078 C 37.5507 26.125 38.3007 25.5860 38.4882 24.4844 C 38.8866 22.0469 40.9257 20.3594 43.3866 20.3594 C 46.2462 20.3594 48.5665 22.4922 48.5665 25.5625 C 48.5665 28.6797 46.1056 30.8360 42.3085 30.8360 C 35.1601 30.8360 27.4492 26.7578 18.0742 26.7578 C 13.2460 26.7578 8.8398 27.5313 4.7148 29.0078 C 3.7539 29.3360 3.3554 30.1562 3.5898 30.9766 C 3.8242 31.7734 4.6210 32.2656 5.6523 31.9141 C 9.4726 30.4609 13.4570 29.8282 18.0742 29.8282 C 27.4257 29.8282 34.4101 33.8828 42.3085 33.8828 Z M 27.4257 50.4062 C 31.0351 50.4062 33.8242 47.7344 33.8242 43.9141 C 33.8242 38.3828 28.1757 35.2891 17.7695 35.2891 C 13.4101 35.2891 8.6992 36.1328 4.7148 37.5156 C 3.7539 37.8438 3.3554 38.6641 3.5898 39.4844 C 3.8242 40.2813 4.6210 40.7734 5.6523 40.4219 C 9.3788 39.0860 13.5507 38.3594 17.7695 38.3594 C 26.2773 38.3594 30.7773 40.4922 30.7773 43.9141 C 30.7773 46.0703 29.2773 47.3594 27.4257 47.3594 C 25.5742 47.3594 24.4492 46.1172 24.1210 44.1484 C 23.9804 43.2813 23.3476 42.5781 22.3398 42.6484 C 21.2851 42.7188 20.8632 43.6094 21.0039 44.5469 C 21.4257 47.8047 23.8398 50.4062 27.4257 50.4062 Z M 48.9179 46.2109 C 49.3398 46.2109 49.6446 45.8125 49.6211 45.3672 L 49.4804 43.1406 L 51.3318 44.4063 C 51.6601 44.6406 52.1992 44.5469 52.4334 44.1953 C 52.6446 43.8438 52.5275 43.3047 52.0585 43.0938 L 50.0430 42.1094 L 52.0820 41.1016 C 52.5040 40.8906 52.6211 40.3750 52.4334 40.0234 C 52.2462 39.6484 51.6601 39.5782 51.3318 39.8125 L 49.4804 41.1016 L 49.6446 38.8516 C 49.6912 38.3828 49.3398 38.0078 48.9179 38.0078 C 48.4259 38.0078 48.1446 38.3828 48.1681 38.8516 L 48.3088 41.1016 L 46.4099 39.8125 C 46.0820 39.5782 45.5896 39.6250 45.3554 40.0234 C 45.1445 40.3750 45.2382 40.8672 45.6836 41.1016 L 47.6992 42.1094 L 45.6836 43.0938 C 45.2382 43.3047 45.1210 43.8203 45.3320 44.1953 C 45.5430 44.5703 46.0820 44.6406 46.4099 44.4063 L 48.3088 43.1406 L 48.1912 45.3672 C 48.1681 45.8125 48.4259 46.2109 48.9179 46.2109 Z"/></svg>
                </div>
            </div>
        </div>
        <p id="youHave.."class="text-2xl text-gray-700 mb-6 text-center">
            <strong>YOU</strong> have the power to make a real difference!
        </p>
        <div id="volunteerHostDiv" class="flex flex-row gap-6">
            <div class="bg-white p-2 rounded-lg shadow-md flex-1 flex-row gap-4">
                <div class="gap-4 justify-between">
                    <div id="volunteerHead" class="containerHead">
                        <div id="volunteerBtn-text" class="m-3">
                            <a href="volunteerRequest" class="btn w-full max-w-xs whitespace-nowrap flex items-center gap-2">
                                Volunteer →
                            </a>
                        </div> 
                        <img src="images/volunteer.jfif" alt="Volunteer" class="w-1/2 h-64 object-cover rounded-lg">
                    </div>
                </div>
            </div>
            
            <!-- Host an Event Section -->
            <div id="hostDiv" class="bg-white p-2 rounded-lg shadow-md flex-1 flex-row gap-4">
                <div class="gap-4 justify-between">
                    <div id="hostHead" class="containerHead">
                        <div id="hostBtn-text" class="m-3">
                            <a href="/hostAnEvent" class="btn w-full max-w-xs whitespace-nowrap flex items-center gap-2">
                                Host an Event →
                            </a>
                        </div>
                        <img src="images/hostEvent.jpg" alt="Host an Event" class="w-1/2 h-64 object-cover rounded-lg">
                    </div>
                </div>
            </div>
            
        </div>       
    </div>
</body>

</html>