<!--  -->
<link rel="stylesheet" href="css/home.css" />
<div class="intro">
  <div>
    <h1>Welcome to Grane Microbakery</h1>
  </div>
</div>

<div class="content">
  <h2>Our Purpose</h2>
  <p>story here</p>
  <br />
  <h2>Featured Products</h2>
  <div id="imageSlider">
    <div class="item">
      <img src="/images/bread1.jpg" alt="Bread 1" />
      <p>Description of Bread 1</p>
    </div>
    <div class="item">
      <img src="/images/bread2.jpg" alt="Bread 2" />
      <p>Description of Bread 2</p>
    </div>
    <div class="item">
      <img src="/images/bakery1.jpg" alt="Bakery 1" />
      <p>Description of Bakery 1</p>
    </div>
  </div>
  <br />
  <button>Order Now</button>
</div>
