<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter - Host Volunteer Event</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const thankYouSection = document.getElementById('thank-you-section');
        const eventForm = document.getElementById('event-form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            eventForm.classList.add('hidden');
            thankYouSection.classList.remove('hidden');
        });
    });

    // Hide modal
    function handleCancel() {
        document.getElementById('addModal').classList.add('hidden');
    }

    function toggleEventType() {
        const eventType = document.getElementById('eventType');
        const eventTypeLabel = document.getElementById('eventTypeLabel');
        const elements = document.getElementsByClassName('distributionEvent');


        for (let i in elements) {
            if (eventType.checked) {
                elements[i].classList.add('hidden');
                document.getElementById('addEventForm').action = '/addDistributionEvent';
            } else {
                elements[i].classList.remove('hidden');
                document.getElementById('addEventForm').action = '/addServiceEvent';
            }
        }
    }

    function addItem() {
        const template = document.getElementById('dateTemplate').content.cloneNode(true);
        document.querySelector('#dateSection .grid').appendChild(template);
    }

    function addContact() {
        const template = document.getElementById('contactTemplate').content.cloneNode(true);
        document.querySelector('#contactSection .grid').appendChild(template);
    }
</script>

<body class="bg-gray-50 font-sans">
    <!-- Main Content -->
    <div class="container mx-auto py-12 px-6 space-y-6">
        <!-- Thank You Section -->
        <section id="thank-you-section" class="bg-white p-8 rounded-lg shadow-md mt-5 hidden">
            <h2 class="text-2xl font-bold text-gray-800">Thank You for Hosting an Event!</h2>
            <p class="mt-4 text-gray-700">
                Your willingness to host a volunteer event is greatly appreciated. Together, we can make a significant
                impact
                by creating and distributing Turtle Shelter Vests to those in need.
            </p>
        </section>

        <!-- Volunteer Event Form -->
        <form id="addEventForm" action="/addServiceEvent" method="POST"
            class="bg-white p-8 rounded-lg shadow-md w-fit max-w-6xl border">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Event Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <!-- ORGANIZATION -->
                <div>
                    <label for="organization" class="block text-gray-700">Organization</label>
                    <input name="organization" required type="text" id="organization" value=""
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                </div>

                <!-- ADDRESS -->
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <label for="address" class="block text-gray-700">Address</label>
                        <input name="address" required type="text" id="address" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="city" class="block text-gray-700">City</label>
                        <input name="city" required type="text" id="city" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="state" class="block text-gray-700">State</label>
                        <select name="state" required id="state" name="state"
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                            <option value="" disabled selected>State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div>
                        <label for="zip" class="block text-gray-700">Zip Code</label>
                        <input name="zip" required type="text" id="zip" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- SERVICE TYPE -->
                <div>
                    <label for="servicetypeid" class="block text-gray-700">Service Type</label>
                    <select name="servicetypeid" required id="servicetypeid"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                        <% servicetypes.forEach(function(servicetype) { %>
                            <option value="<%= servicetype.servicetypeid %>">
                                <%= servicetype.description %>
                            </option>
                            <% }); %>
                    </select>
                </div>

                <!-- JEN RELATED STUFF -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="jenstory" class="block text-gray-700">Jen Story</label>
                        <div class="mt-2">
                            <label class="inline-flex items-center">
                                <input type="radio" name="jenstory" value="true" class="form-radio">
                                <span class="ml-2">Requested</span>
                            </label>
                            <label class="inline-flex items-center ml-6">
                                <input type="radio" name="jenstory" value="false" class="form-radio">
                                <span class="ml-2">Not Requested</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="jenstorylength" class="block text-gray-700">Jen Story Length (mins)</label>
                        <input name="jenstorylength" required type="text" id="jenstorylength" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- EQUIPMENT -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="sergers" class="block text-gray-700">Sergers</label>
                        <input name="sergers" type="number" id="sergers" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="sewingmachines" class="block text-gray-700">Sewing Machines</label>
                        <input name="sewingmachines" type="number" id="sewingmachines" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- ATTENDEES -->
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <label for="childrenunder10" class="block text-gray-700">Children < 10</label>
                                <input name="childrenunder10" type="number" id="childrenunder10" min="0" value=""
                                    class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="adultparticipants" class="block text-gray-700">Adults</label>
                        <input name="adultparticipants" type="number" id="adultparticipants" min="1" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="advancedsewers" class="block text-gray-700">Adv. Sewers</label>
                        <input name="advancedsewers" type="number" id="advancedsewers" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="basicsewers" class="block text-gray-700">Basic Sewers</label>
                        <input name="basicsewers" type="number" id="basicsewers" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- VENUE INFO -->
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <label for="venuesize" class="block text-gray-700">Venue sq. ft.</label>
                        <input name="venuesize" type="text" id="venuesize" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="numrooms" class="block text-gray-700">Rooms</label>
                        <input name="numrooms" required type="number" id="numrooms" min="1" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="numtablesround" class="block text-gray-700">Round Tables</label>
                        <input name="numtablesround" type="number" id="numtablesround" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                    <div>
                        <label for="numtablesrectangle" class="block text-gray-700">Rect. Tables</label>
                        <input name="numtablesrectangle" type="number" id="numtablesrectangle" min="0" value=""
                            class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                    </div>
                </div>

                <!-- DETAILS -->
                <div>
                    <label for="details" class="block text-gray-700">Details</label>
                    <textarea name="details" id="details"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500"></textarea>
                </div>

                <!-- START DATE/TIME -->
                <div id="dateSection">
                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <label for="date" class="block text-gray-700">Date</label>
                            <input name="date" required type="date" id="date" value=""
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                        </div>
                        <div>
                            <label for="starttime" class="block text-gray-700">Start Time</label>
                            <input name="starttime" required type="time" id="starttime" value=""
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                        </div>
                        <div>
                            <label for="plannedduration" class="block text-gray-700">Planned Duration (hrs)</label>
                            <input name="plannedduration" required type="number" id="plannedduration" value="" min="0"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                        </div>
                    </div>

                    <!-- ADD DATE BUTTON -->
                    <div class="col-span-2">
                        <button type="button" onclick="addItem()"
                            class="mt-4 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-teal-600">
                            Add Date Option
                        </button>
                    </div>
                </div>

                <div id="contactSection">
                    <div class="grid grid-cols-4 gap-4">
                        <div>
                            <label for="modalFirstName" class="block text-gray-700">First Name</label>
                            <input type="text" id="modalFirstName" name="firstname"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                                required>
                        </div>
                        <div>
                            <label for="modalLastName" class="block text-gray-700">Last Name</label>
                            <input type="text" id="modalLastName" name="lastname"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                                required>
                        </div>
                        <div>
                            <label for="modalEmail" class="block text-gray-700">Email</label>
                            <input type="email" id="modalEmail" name="email"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                                required>
                        </div>
                        <div>
                            <label for="modalPhoneNumber" class="block text-gray-700">Phone Number</label>
                            <input type="text" id="modalPhoneNumber" name="phonenumber"
                                class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                        </div>
                    </div>
                    <!-- ADD REQUESTER BUTTON -->
                    <div class="col-span-2">
                        <button type="button" onclick="addContact()"
                            class="mt-4 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-teal-600">
                            Add Another Contact
                        </button>
                    </div>
                </div>

            </div>
            <div class="mt-6 flex gap-4 w-full justify-end">
                <button id="saveBtn" type="submit" onclick="saveDistributionEvent()"
                    class="px-6 py-2 bg-teal-500 text-white rounded-lg shadow-md hover:bg-teal-600">Submit</button>
            </div>

            <!-- TEMPLATE FOR NEW DATE -->
            <template id="dateTemplate">
                <div>
                    <label for="date" class="block text-gray-700">Date</label>
                    <input name="date" required type="date" id="date" value=""
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500 outline-teal-500">
                </div>
                <div></div>
                <div></div>
            </template>

            <!-- TEMPLATE FOR NEW CONTACT -->
            <template id="contactTemplate">
                <div>
                    <label for="modalFirstName" class="block text-gray-700">First Name</label>
                    <input type="text" id="modalFirstName" name="firstname"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                        required>
                </div>
                <div>
                    <label for="modalLastName" class="block text-gray-700">Last Name</label>
                    <input type="text" id="modalLastName" name="lastname"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                        required>
                </div>
                <div>
                    <label for="modalEmail" class="block text-gray-700">Email</label>
                    <input type="email" id="modalEmail" name="email"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500"
                        required>
                </div>
                <div>
                    <label for="modalPhoneNumber" class="block text-gray-700">Phone Number</label>
                    <input type="text" id="modalPhoneNumber" name="phonenumber"
                        class="mt-2 w-full px-4 py-2 border rounded-lg shadow-sm focus:ring-teal-500 focus:border-teal-500">
                </div>
            </template>
        </form>
    </div>
</body>

</html>