<h1>Shop Page</h1>
<div class="shop-items">
    <div class="item">
        <img src="/images/bread1.jpg" alt="Bread 1" />
        <p>Bread 1 - $5.00</p>
        <button>Add to Cart</button>
    </div>
    <div class="item">
        <img src="/images/bread2.jpg" alt="Bread 2" />
        <p>Bread 2 - $6.00</p>
        <button>Add to Cart</button>
    </div>
    <div class="item">
        <img src="/images/bakery1.jpg" alt="Bakery 1" />
        <p>Bakery Item 1 - $4.00</p>
        <button>Add to Cart</button>
    </div>
    <div class="item">
        <img src="/images/bakery2.jpg" alt="Bakery 2" />
        <p>Bakery Item 2 - $7.00</p>
        <button>Add to Cart</button>
    </div>
</div>